@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* all */
.map_area {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  animation: fadeIn 3s;
  overflow: hidden;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: fadeIn 3s;
  padding: 20px;
}

.map_title {
  margin-top: 20px;
  text-align: center;
  color: #31087b;
}

/* tablet, sp */
@media screen and (max-width: 767px) {
  .map_area {
    overflow: visible;
  }

  .map {
    width: 350px;
    height: 400px;
    padding: 0px;
  }

  .map_title {
    font-size: 12px;
  }
}

/* pc */
@media screen and (min-width: 768px) {
  .map_area {
    padding: 20px;
  }
  .map {
    width: 600px;
    height: 400px;
  }

  .map_title {
    font-size: 32px;
  }
}
